extends main

block content
 .card(style='width: 18rem;')
  img.card-img-top(src='/static/img/user.png', alt='...')
  .card-body
    p.card-text
      | Soe and 





//-  table.table.table
//-   thead
//-     tr
//-       th(scope='col') First Name
//-       th(scope='col') Last name
//-   tbody
//-    each users in user
//-     tr
//-       td #{users.username}
//-       td #{users.lastname}
      //- td= boda.age