extend layout

block content
 form(method="POST",action="/login",autocomplete='off')
  .form-group
    label(for='username') User name
    input.form-control(name='username', type='text')
  .form-group
    label(for='password') Password
    input.form-control(name='password', type='text')
  button.btn.btn-dark(type='submit') Submit
  div
 a(href='/register')
  button(class="btn btn-success mt-4") Regiser