extends main

block content
 .row
  .col-sm-6.col-md-3
   .card(style='width: 12rem;')
    img.card-img-top.d-block.mx-auto(src='/static/img/user.png', alt='...',style='width:8rem; height:8rem;')
   .card-body
    p.card-text
      | Supervisors
    a.btn.btn-primary(href='#') Go somewhere
  .col-sm-6.col-md-3
   .card(style='width: 12rem;')
    img.card-img-top.d-block.mx-auto(src='/static/img/user.png', alt='...',style='width:8rem; height:8rem;')
   .card-body
    p.card-text
      | Sales Executives
  .col-sm-6.col-md-3
   .card(style='width: 12rem;')
    img.card-img-top.d-block.mx-auto(src='/static/img/user.png', alt='...',style='width:8rem; height:8rem;')
   .card-body
    p.card-text
      | bodaboda
  .col-sm-6.col-md-3
   .card(style='width: 12rem;')
    img.card-img-top.d-block.mx-auto(src='/static/img/user.png', alt='...',style='width:8rem; height:8rem;')
   .card-body
    p.card-text
      | Tukutuku





//-  table.table.table
//-   thead
//-     tr
//-       th(scope='col') First Name
//-       th(scope='col') Last name
//-   tbody
//-    each users in user
//-     tr
//-       td #{users.username}
//-       td #{users.lastname}
      //- td= boda.age