doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
  body
  .container
   .row
    .col-lg.m-auto
   h4= title
    div.col-10.ml-sm-auto.px-4
   if successes
    for success in successes
      div.alert.alert-success #{ success }
   if errors
    for error, i in errors
      div.alert.alert-danger #{ error }
   block content
   br
   hr
   footer
    p Copyright &copy; 2017
    //- script(src='/bower_components/jquery/dist/jquery.js')
    //- script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/index.js')