extends main

block navigation
      ul.nav.navbar-nav.navbar-left(style='margin-left:85%')
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
           img(src="/static/img/more.png" alt='...',style='background-color:white')
           .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='/api/user/sales_reg') Add sales executive
              a.dropdown-item(href='/api/user/supervisor_reg') Add supervisor
              a.dropdown-item(href='/api/user/admin_reg') Add admin
              .dropdown-divider
              a.dropdown-item(href=`/api/user/admin_reg`) Profile
              a.dropdown-item(href='/api/auth/logout') Logout

block content
  form(method="POST",action="/api/user/sales_reg",autocomplete='off',name='myform',onsubmit= 'return salesValidation()')
   .form-row   
    .form-group.col-md-4
      label(for='username') First Name
      input.form-control(name='username', type='text')
      p.text-danger#paras1.small
    .form-group.col-md-4
      label(for='lastname') Last Name
      input.form-control(name='lastname',type='text')
      p.text-danger#paras2.small
    .form-group.col-md-4
      label(for='currentDate') Current Date
      input.form-control(name='currentDate',type='date')
      p.text-danger#paras3.small
   .form-row 
    .form-group.col-md-4
      label(for='password') Password
      input.form-control(name='password', type='password')
      p.text-danger#paras4.small
    .form-group.col-md-4
      label(for='password2') Password2
      input.form-control(name='password2', type='password')
      p.text-danger#paras5.small
    .form-group.col-md-4
      label(for='id') ID
      input.form-control(name='id', type='text')
      p.text-danger#paras6.small 
   .form-row 
    .form-group.col-md-4
      label(for='email') email
      input.form-control(name='email', type='text')
    .form-group.col-md-4
      label(for='phone') Phone/s contact
      input.form-control(name='phone', type='text')
      p.text-danger#paras7.small
    .form-group.col-md-4
      label(for='supervisor') Assign Supervisor
      select(name="supervisor" type='text').form-control
       each users in user
        option(value=`` selected='Choose...')= users.username
   .form-row
    .form-group.col-md-4
      label(for='workingdays') Number of working days
      input.form-control(name='workingdays', type='text')
      p.text-danger#paras8.small
    .form-group.col-md-4
      label(for='dob') Date Of Birth
      input.form-control(name='dob', type='date')
      p.text-danger#paras9.small
    .form-group.col-md-4
      label(for='role') Role
      select(name="role" type='text').form-control
       option(value="") Choose...
       option(value="sales executive" selected) sales executive
   .form-row.text-center
    .form-group.col-md
     button.btn.btn-success.text-center(type='submit' style='width:100px') Regiser
   .col.text-center.mb-2
     button(class="btn btn-info",type='reset',style='width:100px') Reset
  .col.text-center.mb-3
    a(href='/api/user/adminpanel')
     button(class="btn btn-dark " style='width:100px') back