extends main

block content
 table.table.table(style='text-align:center')
  thead
    tr
      th(scope='col') Full Name
      th(scope='col') Balance
      th(scope='col') Vehicle type
      th(scope='col') Next payment
      th
  tbody
  //-  each bodas in boda
  //-   tr
  //-     td= bodas.fullname
  //-     td= bodas.balance
  //-     td= bodas.vehicle
  //-     td= bodas.next_pay
  //-     td
       a(href=`/sales/panel/${bodas._id}`)
        button(class='btn btn-info') view
 //-   
      //- td= boda.age
 a(href='/api/user/adminpanel')
  button(class="btn btn-dark mt-2") back
