extends main

block content
  .col-xl-5.col-lg-6.col-md-12.col-sm-10.mx-auto.text-center.form.p-5
   .p-2(style='margin-top:0.25%')
    h3(style='font-weight:400') Sign up
    form(method="POST",action="/api/auth/signup",autocomplete='off')
      .form-group
        label(for='username') First Name
        input.form-control(name='username', type='text',placeholder="Enter first name")
      .form-group
        label(for='lastname') Last Name
        input.form-control(name='lastname',type='text',placeholder="Enter last name")
      .form-group
        label(for='current_date') Current Date
        input.form-control(name='current_date',type='date')
      .form-group
        label(for='password') Password
        input.form-control(name='password', type='password',placeholder="Enter password")
      .form-group
        label(for='password2') Re-enter password
        input.form-control(name='password2', type='password',placeholder="Re-enter password")
      .form-group
        label(for='email') email
        input.form-control(name='email', type='text',placeholder="Enter email address")
      .form-group
        label(for='phone') Phone/s contact
        input.form-control(name='phone', type='text',placeholder="Enter phone")
      .form-group
        label(for='dob') Date Of Birth
        input.form-control(name='dob', type='date')
      .form-group
        label(for='role') Role
        select(name="role" type='text').form-control
         option(value="Default" selected='') Choose...
         option(value="admin") admin
         option(value="sales executive") sales executive
         option(value="supervisor") supervisor
      .col
        button.btn.btn-success(type='submit',style='width:200px') Regiser
      .col.mt-3
        a(href='/api/auth/signin') Already have an account? Sign In
         
    
