extends main

block navigation
      ul.nav.navbar-nav.navbar-left(style='margin-left:85%')
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
           img(src="/static/img/more.png" alt='...',style='background-color:white')
           .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='/api/user/sales_reg') Add sales executive
              a.dropdown-item(href='/api/user/supervisor_reg') Add supervisor
              a.dropdown-item(href='/api/user/admin_reg') Add admin
              .dropdown-divider
              a.dropdown-item(href=`/api/user/admin_reg`) Profile
              a.dropdown-item(href='/api/auth/logout') Logout

block content
   .p-2(style='margin-top:0.25%')
    form(method="POST",action="/api/auth/signup",autocomplete='off')
     .form-row
      .form-group.col-md-4
        label(for='username') First Name
        input.form-control(name='username', type='text',placeholder="Enter first name")
      .form-group.col-md-4
        label(for='lastname') Last Name
        input.form-control(name='lastname',type='text',placeholder="Enter last name")
      .form-group.col-md-4
        label(for='currentDate') Current Date
        input.form-control(name='currentDate',type='date')
     .form-row 
      .form-group.col-md-4
        label(for='password') Password
        input.form-control(name='password', type='password',placeholder="Enter password")
      .form-group.col-md-4
        label(for='password2') Re-enter password
        input.form-control(name='password2', type='password',placeholder="Re-enter password")
      .form-group.col-md-4
        label(for='email') email
        input.form-control(name='email', type='text',placeholder="Enter email address")
     .form-row 
      .form-group.col-md-4
        label(for='phone') Phone/s contact
        input.form-control(name='phone', type='text',placeholder="Enter phone")
      .form-group.col-md-4
        label(for='dob') Date Of Birth
        input.form-control(name='dob', type='date')
      .form-group.col-md-4
        label(for='role') Role
        select(name="role" type='text').form-control
         option(value="Default" selected='') admin
         option(value="admin") admin
     .col-md.text-center
        button.btn.btn-success(type='submit',style='width:200px') Regiser
     .col.mt-3.text-center
        a(href='/api/auth/signin') Already have an account? Sign In
         
    
