extend main

block content
  form(method="POST",action="/sales/register",autocomplete='off')
    .form-group
      label(for='username') First Name
      input.form-control(name='username', type='text')
    .form-group
      label(for='lastname') Last Name
      input.form-control(name='lastname',type='text')
    .form-group
      label(for='current_date') Current Date
      input.form-control(name='current_date',type='date')
    .form-group
      label(for='password') Password
      input.form-control(name='password', type='password')
    .form-group
      label(for='password2') Password2
      input.form-control(name='password2', type='password')
    .form-group
      label(for='id') ID
      input.form-control(name='id', type='text') 
    .form-group
      label(for='email') email
      input.form-control(name='email', type='text')
    .form-group
      label(for='phone') Phone/s contact
      input.form-control(name='phone', type='text')
    .form-group
      label(for='workingdays') Number of working days
      input.form-control(name='workingdays', type='text')
    .form-group
      label(for='dob') Date Of Birth
      input.form-control(name='dob', type='date')
    .form-group
      label(for='role') Role
      select(name="role" type='text').form-control
       option(value="Default") Choose...
       option(value="supervisor" selected) supervisor
    .col
     button.btn.btn-success(type='submit') Regiser
  .col
   a(href='/api/user/adminpanel')
    button(class="btn btn-success mt-2") back