extends main

block navigation
      ul.nav.navbar-nav.navbar-left(style='margin-left:85%')
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
           img(src="/static/img/more.png" alt='...',style='background-color:white')
           .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='/api/user/customer_reg') Add customer
              .dropdown-divider
              a.dropdown-item(href='/api/auth/logout') Logout

block content
 table.table.table(style='text-align:center')
  thead
    tr
      th(scope='col') Full Name
      th(scope='col') Last Name
      th(scope='col') Vehicle type
      th(scope='col') Status
      th
  tbody
    each users in user
     tr
     td= users.username
     td= users.lastname
     td what
     td is this
     td
      h6(style='color:green') ok
     td
       a(href=`/api/user/customer/${users._id}`)
        img(src="/static/img/eye.png", alt="", srcset="")
 
//-  a(href='/api/user/adminpanel')
//-   button(class="btn btn-dark mt-2") back
